In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.master("local[4]").appName("VarunSpark").getOrCreate()

25/07/06 13:28:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/07/06 13:28:14 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [4]:
movies_sch = StructType([\
                         StructField("movie_ID", IntegerType(),True),\
                         StructField("name", StringType(),True),\
                         StructField("year", IntegerType(),True),\
                         StructField("ratings", DecimalType(),True),\
                         StructField("duration", IntegerType(),True)])

In [5]:
movies = spark.read.csv("certification/movies/movies.csv", sep=",", schema=movies_sch)

In [6]:
movies.show(5)

+--------+--------------------+----+-------+--------+
|movie_ID|                name|year|ratings|duration|
+--------+--------------------+----+-------+--------+
|       1|The Nightmare Bef...|1993|      4|    4568|
|       2|           The Mummy|1932|      4|    4388|
|       3|Orphans of the Storm|1921|      3|    9062|
|       4|The Object of Beauty|1991|      3|    6150|
|       5|          Night Tide|1963|      3|    5126|
+--------+--------------------+----+-------+--------+
only showing top 5 rows

### A. Find the number of movies released between 1950 and 1960

In [7]:
movies.where((movies.year>=1950)&(movies.year<=1960)).show()

+--------+--------------------+----+-------+--------+
|movie_ID|                name|year|ratings|duration|
+--------+--------------------+----+-------+--------+
|      71|       All About Eve|1950|      4|    8300|
|      94|House on Haunted ...|1959|      4|    4491|
|      98|Godzilla: King of...|1956|      4|    4828|
|     100|           High Noon|1952|      4|    5087|
|     316|Beneath the 12-Mi...|1953|      3|    6036|
|     371|        Black Sunday|1960|      3|    5209|
|     402|Love Is a Many-Sp...|1955|      4|    6115|
|     516|               Shane|1953|      4|    7081|
|     591|     White Christmas|1954|      4|    7201|
|     617|Attack of the Pup...|1958|      3|    4760|
|     618|The Man from Plan...|1951|      3|    4242|
|     633|        Carmen Jones|1954|      4|    6283|
|     652|How to Marry a Mi...|1953|      4|    5744|
|     653| The Seven Year Itch|1955|      4|    6264|
|     654|There's No Busine...|1954|      4|    7033|
|     673|       Roman Holiday|1953|      4|    7087|
|     678|     Never on Sunday|1960|      3|    5571|
|     690|   The African Queen|1951|      4|    6312|
|     697|The Inn of the Si...|1958|      4|    9470|
|     707|             The Men|1950|      3|    5207|
+--------+--------------------+----+-------+--------+
only showing top 20 rows

In [8]:
movies.where((movies.year>=1950)&(movies.year<=1960)).count()

547

### B. Find the number of movies having rating more than 4.

In [9]:
movies.where(movies.ratings>4).show()

+--------+--------------------+----+-------+--------+
|movie_ID|                name|year|ratings|duration|
+--------+--------------------+----+-------+--------+
|    6997|Breaking Bad: Sea...|2008|      5|    null|
|    8041|Breaking Bad: Sea...|2009|      5|    null|
|   12079|Breaking Bad: Sea...|2010|      5|    null|
|   13315|        Breaking Bad|2008|      5|    null|
|   14721|The Walking Dead:...|2010|      5|    null|
|   14955|Breaking Bad: Sea...|2011|      5|    null|
|   14957|  Sherlock: Series 1|2010|      5|    null|
|   19400|The Walking Dead:...|2011|      5|    null|
|   21911|    The Walking Dead|2010|      5|    null|
|   26484|            Sherlock|2010|      5|    null|
|   30426|        The Avengers|2012|      5|    8575|
|   33523|  Sherlock: Series 2|2012|      5|    null|
|   36259|Breaking Bad: Sea...|2012|      5|    null|
|   37138|Orange Is the New...|2013|      5|    null|
|   37141|Orange Is the New...|2013|      5|    null|
|   37897|The Walking Dead:...|2012|      5|    null|
|   41846|Fairy Tail: Season 1|2009|      5|    null|
|   43071|          Fairy Tail|2009|      5|    null|
|   43444|           Blackfish|2013|      5|    4985|
|   44098|Arrested Developm...|2013|      5|      97|
+--------+--------------------+----+-------+--------+
only showing top 20 rows

In [10]:
movies.where(movies.ratings>4).count()

23

### C. Find the movies whose rating are between 3 and 4.

In [11]:
movies.where((movies.ratings>=3)&(movies.ratings<=4)).show()

+--------+--------------------+----+-------+--------+
|movie_ID|                name|year|ratings|duration|
+--------+--------------------+----+-------+--------+
|       1|The Nightmare Bef...|1993|      4|    4568|
|       2|           The Mummy|1932|      4|    4388|
|       3|Orphans of the Storm|1921|      3|    9062|
|       4|The Object of Beauty|1991|      3|    6150|
|       5|          Night Tide|1963|      3|    5126|
|       6| One Magic Christmas|1985|      4|    5333|
|       7|    Muriel's Wedding|1994|      4|    6323|
|       8|       Mother's Boys|1994|      3|    5733|
|       9|Nosferatu: Origin...|1929|      4|    5651|
|      10|        Nick of Time|1995|      3|    5333|
|      11|     Broken Blossoms|1919|      3|    5367|
|      12|           Big Night|1996|      4|    6561|
|      13|The Birth of a Na...|1915|      3|   12118|
|      14|The Boys from Brazil|1978|      4|    7417|
|      15|      Big Doll House|1971|      3|    5696|
|      16|  The Breakfast Club|1985|      4|    5823|
|      17|The Bride of Fran...|1935|      4|    4485|
|      18|     Beautiful Girls|1996|      4|    6755|
|      19|       Bustin' Loose|1981|      4|    5598|
|      20|        The Beguiled|1971|      3|    6307|
+--------+--------------------+----+-------+--------+
only showing top 20 rows

### D. Find the number of movies with duration more than 2 hours (7200 second).

In [12]:
movies.where(movies.duration>7200).show()

+--------+--------------------+----+-------+--------+
|movie_ID|                name|year|ratings|duration|
+--------+--------------------+----+-------+--------+
|       3|Orphans of the Storm|1921|      3|    9062|
|      13|The Birth of a Na...|1915|      3|   12118|
|      14|The Boys from Brazil|1978|      4|    7417|
|      21|Born on the Fourt...|1989|      3|    8646|
|      22|      Broadcast News|1987|      3|    7940|
|      28| Last Tango in Paris|1972|      3|    7732|
|      36|      Into the Woods|1990|      4|    9077|
|      39|           King Kong|1976|      3|    8044|
|      42|In the Name of th...|1993|      4|    7972|
|      48|                Emma|1996|      4|    7260|
|      50|  The Eiger Sanction|1975|      4|    7726|
|      55|           The Doors|1991|      4|    8436|
|      67|The Andromeda Strain|1971|      4|    7861|
|      71|       All About Eve|1950|      4|    8300|
|      75|      Apocalypse Now|1979|      4|    8825|
|      80|       Little Buddha|1993|      3|    8455|
|      85|The Hunt for Red ...|1990|      4|    8106|
|      86|      The Hindenburg|1975|      3|    7546|
|      93|       Heaven's Gate|1980|      3|   13143|
|     114|        Far and Away|1992|      4|    8396|
+--------+--------------------+----+-------+--------+
only showing top 20 rows

In [13]:
movies.where(movies.duration>7200).count()

641

### E. Find the list of years and number of movies released each year.

In [15]:
movies.groupBy("year").agg(count("year").alias("Count")).orderBy(col("year")).show()

+----+-----+
|year|Count|
+----+-----+
|1913|    3|
|1914|   20|
|1915|    1|
|1916|    1|
|1918|    1|
|1919|    3|
|1920|    6|
|1921|    2|
|1922|    2|
|1923|    4|
|1924|    5|
|1925|    5|
|1926|    2|
|1927|    4|
|1928|    2|
|1929|    5|
|1930|    5|
|1931|    3|
|1932|    4|
|1933|    7|
+----+-----+
only showing top 20 rows

### F. Find the total number of movies in the dataset.

In [16]:
movies.count()

49590