In [1]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('VarunMYSQL').config('spark.jars.packages','mysql:mysql-connector-java:8.0.28').master('yarn').getOrCreate()

In [ ]:
employees = spark.read.format('jdbc').option('url','jdbc:mysql://master:3306/varunm15t38hedu')\
        .option('user','varunm15t38hedu')\
        .option('password','PlumWaspbca52@')\
        .option('dbtable','employees')\
        .option('driver','com.mysql.cj.jdbc.Driver').load()

In [4]:
employees.show()

+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
|employee_id| first_name| last_name|   email|phone_number| hire_date|    job_id|  salary|commission_pct|manager_id|department_id|
+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567|1987-06-17|   AD_PRES|24000.00|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568|1989-09-21|     AD_VP|17000.00|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569|1993-01-13|     AD_VP|17000.00|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567|1990-01-03|   IT_PROG| 9000.00|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568|1991-05-21|   IT_PROG| 6000.00|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569|1997-06-25|   IT_PROG| 4800.00|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560|1998-02-05|   IT_PROG| 4800.00|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567|1999-02-07|   IT_PROG| 4200.00|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569|1994-08-17|    FI_MGR|12000.00|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169|1994-08-16|FI_ACCOUNT| 9000.00|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269|1997-09-28|FI_ACCOUNT| 8200.00|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369|1997-09-30|FI_ACCOUNT| 7700.00|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469|1998-03-07|FI_ACCOUNT| 7800.00|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567|1999-12-07|FI_ACCOUNT| 6900.00|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561|1994-12-07|    PU_MAN|11000.00|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562|1995-05-18|  PU_CLERK| 3100.00|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563|1997-12-24|  PU_CLERK| 2900.00|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564|1997-07-24|  PU_CLERK| 2800.00|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565|1998-11-15|  PU_CLERK| 2600.00|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566|1999-08-10|  PU_CLERK| 2500.00|          null|       114|           30|
+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
only showing top 20 rows

In [5]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [6]:
sch = StructType([ StructField('department_id',IntegerType(),False),StructField('dname',StringType(),False),StructField('manager_id',IntegerType(),False),StructField('location_id',IntegerType(),False)])

In [7]:
departments = spark.readStream.format('socket').option('host','localhost').option('port',9940).load()

25/06/16 12:26:08 WARN TextSocketSourceProvider: The socket source should not be used for production applications! It does not support recovery.

In [8]:
deptdata=departments.select(from_json(col('value').cast('string'),sch).alias('value'))

In [9]:
deptdata.printSchema()

root
 |-- value: struct (nullable = true)
 |    |-- department_id: integer (nullable = true)
 |    |-- dname: string (nullable = true)
 |    |-- manager_id: integer (nullable = true)
 |    |-- location_id: integer (nullable = true)

### Joining batch vs stream data

In [10]:
tradeDF=deptdata.select("value.*")

In [11]:
j1=employees.join(tradeDF,employees.department_id==tradeDF.department_id,'inner')

In [ ]:
j1.writeStream.format('console').outputMode('update').option('checkpointLocation','chk134').trigger(processingTime='1 minute').start().awaitTermination()