In [46]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.ml.stat import Correlation

In [2]:
spark = SparkSession.builder.appName("VarunInsClaim").master("local[5]").enableHiveSupport().getOrCreate()

25/06/24 10:36:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4049. Attempting port 4050.
25/06/24 10:36:41 WARN Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.

In [3]:
insurance = spark.read.csv("insurancedata/insurance_claims.csv",sep=',',header=True, inferSchema=True)

In [4]:
insurance.show(5)

25/06/24 10:36:48 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-----------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+
|months_as_customer|age|policy_number|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type|collision_type|incident_severity|authorities_contacted|incident_state|    incident_city|   incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-----------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+
|                82| 25|       iV0433|          NY|   100/300|             1000|                820.4|             0|      13935|       MALE|                    PhD|          Engineer|         Sports|             Married|       317.83|      468.48|   2021-06-02|Multi-vehicle Col...|Rear Collision|     Major Damage|                Other|            CA|   New Roberttown|908 Jennifer Squa...|                      14|                          3|             NO|              0|        1|                   null|          21708.11|     4529.13|       3622.05|     11570.66|   Toyota|   Model A|     2012|             Y|
|                46| 40|       Wv5423|          IL|  500/1000|              500|              1256.76|       2000000|      13897|       MALE|                 Master|          Engineer|         Sports|             Married|      8294.05|      3092.6|   2024-01-26|          Parked Car|Side Collision|     Minor Damage|               Police|            CA|  South Colinstad|781 Miller Hill, ...|                       9|                          1|            YES|              0|        3|                     NO|           23217.1|     12594.6|       2858.48|      5651.43|      BMW|   Model A|     2019|             Y|
|                69| 64|       rD1316|          CA|   250/500|             1000|               941.51|       2000000|      83821|       MALE|               Bachelor|          Engineer|         Gaming|              Single|      8050.46|     2005.82|   2022-12-08|Single Vehicle Co...|Side Collision|       Total Loss|                 Fire|            FL|    Franciscostad|192 Frank Light S...|                      12|                          3|             NO|              0|        2|                    YES|          13084.75|     8639.84|       4309.75|       8976.5|Chevrolet|   Model D|     2011|             Y|
|                18| 50|       zP9537|          FL|   250/500|              500|              1374.99|             0|      60643|       MALE|                 Master|             Clerk|        Reading|             Married|      3816.19|     4980.61|   2022-04-08|          Parked Car|Rear Collision|     Minor Damage|            Ambulance|            TX|      West Donald|969 Cox Dam Suite...|                       3|                          2|             NO|              0|        3|                    YES|          47736.98|    13199.87|       4319.14|       7758.5|     Ford|   Model A|     2020|             N|
|               108| 58|       Hq6697|          IL|   100/300|              500|               737.56|             0|      73013|       MALE|                    PhD|            Lawyer|        Cooking|              Single|      1118.68|      1814.9|   2021-01-05|          Parked Car|Side Collision|     Minor Damage|                 Fire|            IL|Lake Jenniferside|46270 Stanton Tra...|                       2|                          1|           null|              1|        0|                   null|          38525.89|     2361.68|       7391.59|      8472.15|      BMW|   Model D|     2006|             Y|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-----------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+
only showing top 5 rows

In [5]:
insurance.printSchema()

root
 |-- months_as_customer: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: integer (nullable = true)
 |-- policy_annual_premium: double (nullable = true)
 |-- umbrella_limit: integer (nullable = true)
 |-- insured_zip: integer (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital_gains: double (nullable = true)
 |-- capital_loss: double (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: integer (nullable = true)
 |-- number_of_vehicles_involved: integer (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: integer (nullable = true)
 |-- witnesses: integer (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: double (nullable = true)
 |-- injury_claim: double (nullable = true)
 |-- property_claim: double (nullable = true)
 |-- vehicle_claim: double (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: integer (nullable = true)
 |-- fraud_reported: string (nullable = true)

In [6]:
null_counts = insurance.select([sum(col(c).isNull().cast('int')).alias(c) for c in insurance.columns])
null_counts.show()

+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+
|months_as_customer|age|policy_number|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|incident_type|collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+
|                 0|  0|            0|           0|         0|                0|                    0|             0|          0|          0|                      0|                 0|              0|                   0|            0|           0|            0|            0|             0|                0|                    0|             0|            0|                0|                       0|                          0|            779|              0|        0|                    784|                 0|           0|             0|            0|        0|         0|        0|             0|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+

In [7]:
insurance.count()

2300

In [8]:
insurance = insurance.na.drop()

In [9]:
insurance.count()

1025

In [10]:
insurance = insurance.withColumn("incident_date", to_date(insurance.incident_date))

In [11]:
insurance = insurance.withColumn("incident_year",year(insurance.incident_date))

In [12]:
insurance.select(insurance.incident_date).show(5)

+-------------+
|incident_date|
+-------------+
|   2024-01-26|
|   2022-12-08|
|   2022-04-08|
|   2021-02-11|
|   2022-03-18|
+-------------+
only showing top 5 rows

In [13]:
insurance.select(insurance.incident_year).show(5)

+-------------+
|incident_year|
+-------------+
|         2024|
|         2022|
|         2022|
|         2021|
|         2022|
+-------------+
only showing top 5 rows

In [14]:
insurance.write.mode("overwrite").partitionBy("incident_year").parquet("insurancedata/parquet")

In [16]:
spark.sql("select * from varunmdb.insurance_claim limit 10").show()

25/06/24 10:37:16 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+------------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+-------------+
|months_as_customer|age|policy_number|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|     incident_city|   incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|incident_year|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+------------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+-------------+
|                69| 64|       rD1316|          CA|   250/500|             1000|               941.51|       2000000|      83821|       MALE|               Bachelor|          Engineer|         Gaming|              Single|      8050.46|     2005.82|   2022-12-08|Single Vehicle Co...| Side Collision|       Total Loss|                 Fire|            FL|     Franciscostad|192 Frank Light S...|                      12|                          3|             NO|              0|        2|                    YES|          13084.75|     8639.84|       4309.75|       8976.5|Chevrolet|   Model D|     2011|             Y|         2022|
|                18| 50|       zP9537|          FL|   250/500|              500|              1374.99|             0|      60643|       MALE|                 Master|             Clerk|        Reading|             Married|      3816.19|     4980.61|   2022-04-08|          Parked Car| Rear Collision|     Minor Damage|            Ambulance|            TX|       West Donald|969 Cox Dam Suite...|                       3|                          2|             NO|              0|        3|                    YES|          47736.98|    13199.87|       4319.14|       7758.5|     Ford|   Model A|     2020|             N|         2022|
|                12| 58|       iQ5346|          FL|  500/1000|              500|               603.19|             0|      85108|     FEMALE|              Associate|           Manager|         Sports|            Divorced|      4276.87|       48.35|   2022-03-18|Single Vehicle Co...| Side Collision|     Minor Damage|            Ambulance|            IL|       Stephenland|83842 Ibarra Gard...|                      17|                          1|             NO|              0|        0|                     NO|          18867.92|    14029.78|      14596.85|      1078.48|      BMW|   Model B|     2021|             Y|         2022|
|                35| 45|       sG8721|          FL|   250/500|             1000|               902.52|       2000000|      87513|     FEMALE|              Associate|           Manager|         Gaming|            Divorced|      5341.24|     4534.64|   2022-04-16|Single Vehicle Co...| Rear Collision|   Trivial Damage|                 Fire|            FL|      Clarencebury|20037 Stanley Roa...|                       5|                          1|             NO|              1|        2|                    YES|          23280.27|     5393.76|      13254.78|      4534.72|    Honda|   Model C|     2002|             N|         2022|
|                98| 21|       UL3374|          CA|  500/1000|             2000|               717.91|       1000000|      69266|     FEMALE|                 Master|          Engineer|        Reading|            Divorced|      6088.72|     1196.49|   2022-01-18|Multi-vehicle Col...|Front Collision|     Minor Damage|                Other|            NY|       Tinaborough|40824 Terri Plaza...|                       7|                          1|             NO|              0|        1|                     NO|           46700.0|     4731.99|      10728.47|      6524.61|    Honda|   Model D|     2007|             N|         2022|
|               111| 58|       ar3529|          TX|   250/500|             1000|               661.46|       1000000|      19465|     FEMALE|               Bachelor|             Clerk|        Reading|             Married|      5073.37|     1552.04|   2022-04-23|       Vehicle Theft| Rear Collision|     Minor Damage|            Ambulance|            TX|          New John|05395 Grant Cente...|                       2|                          3|            YES|              2|        3|                     NO|          29436.14|    14336.36|      11214.36|      1094.83|Chevrolet|   Model B|     2010|             N|         2022|
|                53| 59|       Hy1027|          FL|  500/1000|             2000|               779.51|       1000000|      74120|     FEMALE|               Bachelor|          Engineer|        Reading|            Divorced|      5741.33|     2675.76|   2022-08-06|Single Vehicle Co...| Side Collision|   Trivial Damage|                 Fire|            NY|West Kimberlymouth|731 Melissa Missi...|                      12|                          2|            YES|              2|        2|                    YES|           1454.09|     8735.45|       2055.86|     14753.41|      BMW|   Model D|     2020|             N|         2022|
|                74| 25|       Xs6385|          TX|   100/300|             1000|              1087.84|             0|      50395|     FEMALE|                    PhD|            Doctor|        Cooking|              Single|      7359.89|     3268.36|   2022-03-19|Multi-vehicle Col...|Front Collision|     Minor Damage|                Other|            TX|      Fergusonstad|771 Gill Island A...|                      11|                          1|             NO|              0|        1|                    YES|          40724.43|      9024.9|       5584.15|     10805.93|    Honda|   Model B|     2019|             Y|         2022|
|               113| 47|       RF7416|          TX|  500/1000|             1000|               677.75|       1000000|      18743|       MALE|               Bachelor|            Doctor|      Traveling|            Divorced|      7845.07|     3697.88|   2022-04-04|Multi-vehicle Col...|   No Collision|       Total Loss|                Other|            CA|          Johnberg|79796 Stephens Tu...|                      23|                          3|            YES|              0|        0|                     NO|            2171.6|     8352.41|       9721.16|     10555.18|   Toyota|   Model C|     2000|             N|         2022|
|                12| 63|       zb6226|          CA|  500/1000|             1000|              1062.11|       2000000|      97151|     FEMALE|               Bachelor|            Doctor|        Reading|             Married|      8546.01|     2779.77|   2022-06-12|Multi-vehicle Col...| Rear Collision|   Trivial Damage|               Police|            CA|    South Brittany|41918 Michael Fla...|                       3|                          1|            YES|              0|        1|                    YES|           41360.0|     5897.48|       9639.31|      9847.93|Chevrolet|   Model C|     2002|             Y|         2022|
+------------------+---+-------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+------------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+-------------+

In [21]:
insurance.select(["incident_year", "fraud_reported"]).filter(insurance.fraud_reported=="Y").groupBy(col("incident_year")).count().alias("count").orderBy(col("count").desc()).show()

+-------------+-----+
|incident_year|count|
+-------------+-----+
|         2021|  104|
|         2023|  100|
|         2024|   98|
|         2022|   86|
|         2020|   57|
|         2025|   52|
+-------------+-----+

In [25]:
spark.sql("select incident_year, count(fraud_reported) as fraud_count from varunmdb.insurance_claim where fraud_reported='Y' group by incident_year order by fraud_count desc").show()

+-------------+-----------+
|incident_year|fraud_count|
+-------------+-----------+
|         2021|        104|
|         2023|        100|
|         2024|         98|
|         2022|         86|
|         2020|         57|
|         2025|         52|
+-------------+-----------+

In [42]:
insurance.select(["incident_severity","fraud_reported","total_claim_amount"]).groupBy(col("incident_severity"),col("fraud_reported")).avg("total_claim_amount").show()

+-----------------+--------------+-----------------------+
|incident_severity|fraud_reported|avg(total_claim_amount)|
+-----------------+--------------+-----------------------+
|       Total Loss|             Y|      28088.50311926605|
|   Trivial Damage|             Y|      25490.95492307692|
|     Major Damage|             Y|     25402.379743589736|
|     Minor Damage|             Y|     25120.952907801424|
|     Minor Damage|             N|      27713.14116788321|
|     Major Damage|             N|      24807.60552845529|
|   Trivial Damage|             N|     25434.518214285712|
|       Total Loss|             N|     26098.876484375003|
+-----------------+--------------+-----------------------+

In [45]:
insurance.select(["auto_make", "total_claim_amount"]).orderBy(col("total_claim_amount").desc()).show(5)

+---------+------------------+
|auto_make|total_claim_amount|
+---------+------------------+
|    Honda|          49968.57|
|   Toyota|          49936.21|
|Chevrolet|          49933.36|
|     Ford|          49864.04|
|     Ford|          49821.58|
+---------+------------------+
only showing top 5 rows

In [50]:
fr_cust = insurance.select(['months_as_customer','fraud_reported'])

In [52]:
fr_cust = fr_cust.withColumn("fraud_reported", when(col("fraud_reported")=="Y",1).when(col("fraud_reported")=="N",0))

In [60]:
correlation=fr_cust.stat.corr('months_as_customer','fraud_reported')
correlation

0.010409867906131687

In [61]:
insurance.agg(count('injury_claim')).show()

+-------------------+
|count(injury_claim)|
+-------------------+
|               1025|
+-------------------+

In [62]:
insurance=insurance.withColumn('injury',when(col('injury_claim')>0,1).otherwise(0))\
.withColumn('property',when(col('property_claim')>0,1).otherwise(0))\
.withColumn('vehicle',when(col('vehicle_claim')>0,1).otherwise(0))
claim_type=insurance.groupBy('fraud_reported').agg(sum('injury').alias('injury'),sum('property').alias('property'),sum('vehicle').alias('vehicle'))
claim_type.show()

+--------------+------+--------+-------+
|fraud_reported|injury|property|vehicle|
+--------------+------+--------+-------+
|             Y|   497|     497|    497|
|             N|   528|     528|    528|
+--------------+------+--------+-------+