In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('VarunSparkSession1').master('local[4]').getOrCreate()

25/06/12 05:50:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
25/06/12 05:50:02 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.

In [3]:
spark

In [4]:
ppl = spark.read.json('pysparkasset/people.json')

`read` is only eager execution

In [5]:
type(ppl)

pyspark.sql.dataframe.DataFrame

In [6]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [7]:
ppl.columns

['age', 'name', 'pcode']

In [8]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [9]:
ppl.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true),StructField(pcode,StringType,true)))

In [10]:
ppl.collect()

[Row(age=None, name='Alice', pcode='94304'),
 Row(age=30, name='Brayden', pcode='94304'),
 Row(age=19, name='Carla', pcode='10036'),
 Row(age=46, name='Diana', pcode=None),
 Row(age=None, name='Etienne', pcode='94104')]

In [11]:
ppl = spark.read.format('JSON').load('pysparkasset/people.json')

In [7]:
ac_par = spark.read.format('parquet').load('accounts_parquet')

In [13]:
ac_par.show()

+--------+--------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------+-------------+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|             address|         city|state|zipcode|phone_number|      created|     modified|
+--------+--------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------+-------------+
|   32441| 1341603329000|         null|     Peter|  Zachary|  1891 Jessie Street|   Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|   32442| 1345273687000|         null|     Duane|     Ruiz| 1023 Simpson Street|     Pasadena|   CA|  91051|  6262472463|1395174646000|1395174646000|
|   32443| 1347189332000|         null|   Desiree|    Beall|    4830 Davis Place|         Reno|   NV|  89468|  7758006922|1395174646000|1395174646000|
|   32444| 1353649861000|         null|     Molly|   Pinder|    708 Locust Court|    Las Vegas|   NV|  89103|  7024413066|1395174646000|1395174646000|
|   32445| 1331819465000|         null|   Melissa|  Carlson|  3842 Paradise Lane|     Torrance|   CA|  90502|  4249518440|1395174646000|1395174646000|
|   32446| 1336860950000|1391870430000|    Oliver|    Olson|3684 Raoul Wallen...|San Francisco|   CA|  94066|  4156605386|1395174646000|1395174646000|
|   32447| 1342578469000|         null|       Ben|McFarlane|    1574 Maloy Court|   Sacramento|   CA|  94211|  9168121038|1395174646000|1395174646000|
|   32448| 1350883104000|         null|   Barbara|  McClure|      2902 Haul Road|       Tucson|   AZ|  85717|  9282210377|1395174646000|1395174646000|
|   32449| 1333225574000|         null| Christina|    Smith|  2808 Ritter Avenue|    San Diego|   CA|  92139|  6197724137|1395174646000|1395174646000|
|   32450| 1341361160000|1391664800000|      Jake|    Weber|2264 Lodgeville Road|       Eureka|   CA|  95559|  7073783873|1395174646000|1395174646000|
|   32451| 1329524457000|         null|    Johnny|  Rodgers|  3471 Joseph Street|   Sacramento|   CA|  95734|  9165124138|1395174646000|1395174646000|
|   32452| 1348532412000|         null|     Buddy|  Pinkard|   2913 Clair Street|    Las Vegas|   NV|  89167|  7028322546|1395174646000|1395174646000|
|   32453| 1327154730000|         null|     Tommy|    Jones| 3730 Orchard Street|         Reno|   NV|  89497|  7754007303|1395174646000|1395174646000|
|   32454| 1335835131000|         null|   Deborah|   Eslick|1237 Michigan Avenue|       Eugene|   OR|  97434|  5414288335|1395174646000|1395174646000|
|   32455| 1327343339000|         null|      Rita|Rodriguez|  1320 Spring Street|   Sacramento|   CA|  95707|  9161471136|1395174646000|1395174646000|
|   32456| 1351503504000|1385039620000| Elizabeth|   Wilson|1687 Olen Thomas ...|     Alhambra|   CA|  91850|  6261996793|1395174646000|1395174646000|
|   32457| 1327221999000|         null|    Bobbie|    Smith|    2324 Reel Avenue|  Bakersfield|   CA|  93239|  6617991392|1395174646000|1395174646000|
|   32458| 1345933516000|1392526106000|   Cynthia|   Norton|    1405 Tipple Road|    Santa Ana|   CA|  92742|  6571302001|1395174646000|1395174646000|
|   32459| 1355835567000|         null|     Wanda| Ferguson| 948 Melville Street|      Salinas|   CA|  93906|  8319867172|1395174646000|1395174646000|
|   32460| 1355368641000|1384107485000|    Carole|    Jones|  1690 Bicetown Road|     Glendale|   CA|  91245|  7472938800|1395174646000|1395174646000|
+--------+--------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------+-------------+
only showing top 20 rows

In [8]:
ac_par.schema

StructType(List(StructField(acct_num,IntegerType,true),StructField(acct_create_dt,LongType,true),StructField(acct_close_dt,LongType,true),StructField(first_name,StringType,true),StructField(last_name,StringType,true),StructField(address,StringType,true),StructField(city,StringType,true),StructField(state,StringType,true),StructField(zipcode,StringType,true),StructField(phone_number,StringType,true),StructField(created,LongType,true),StructField(modified,LongType,true)))

In [15]:
ac_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [16]:
latlon = spark.read.csv('latlonschema.txt', sep='\t', header=False, inferSchema=True)

In [17]:
latlon.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)

In [18]:
latlon.show()

+----+---------+----------+
| _c0|      _c1|       _c2|
+----+---------+----------+
| 210|43.005895|-71.013202|
| 211|43.005895|-71.013202|
| 212|43.005895|-71.013202|
| 213|43.005895|-71.013202|
| 214|43.005895|-71.013202|
| 215|43.005895|-71.013202|
| 501|40.922326|-72.637078|
| 544|40.922326|-72.637078|
|1001| 42.07061| -72.62029|
|1002|42.377651| -72.50323|
|1003|42.369562| -72.63599|
|1004|42.384494|-72.513183|
|1005|42.412094| -72.10443|
|1007|42.278424|   -72.411|
|1008|42.174313| -72.94828|
|1009|42.206092|-72.340486|
|1010|42.126038| -72.20552|
|1011|42.271442| -73.01958|
|1012|42.390836| -72.84356|
|1013|42.161492| -72.60316|
+----+---------+----------+
only showing top 20 rows

In [19]:
latlon = latlon.selectExpr("_c0 as City", "_c1 as Latitude", "_c2 as Longitude")

In [20]:
latlon.show()

+----+---------+----------+
|City| Latitude| Longitude|
+----+---------+----------+
| 210|43.005895|-71.013202|
| 211|43.005895|-71.013202|
| 212|43.005895|-71.013202|
| 213|43.005895|-71.013202|
| 214|43.005895|-71.013202|
| 215|43.005895|-71.013202|
| 501|40.922326|-72.637078|
| 544|40.922326|-72.637078|
|1001| 42.07061| -72.62029|
|1002|42.377651| -72.50323|
|1003|42.369562| -72.63599|
|1004|42.384494|-72.513183|
|1005|42.412094| -72.10443|
|1007|42.278424|   -72.411|
|1008|42.174313| -72.94828|
|1009|42.206092|-72.340486|
|1010|42.126038| -72.20552|
|1011|42.271442| -73.01958|
|1012|42.390836| -72.84356|
|1013|42.161492| -72.60316|
+----+---------+----------+
only showing top 20 rows

### another method

In [21]:
from pyspark.sql.types import *

In [22]:
sch = StructType([\
                  StructField("CityCode",IntegerType(),True),\
                  StructField("Lattitude",DoubleType(),True),\
                  StructField("Longitude",DoubleType(),True)\
                 ])

In [23]:
cord = spark.read.csv("latlonschema.txt", schema=sch, sep='\t')

In [24]:
cord.printSchema()

root
 |-- CityCode: integer (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [25]:
cord.show(3)

+--------+---------+----------+
|CityCode|Lattitude| Longitude|
+--------+---------+----------+
|     210|43.005895|-71.013202|
|     211|43.005895|-71.013202|
|     212|43.005895|-71.013202|
+--------+---------+----------+
only showing top 3 rows

In [26]:
ac_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [27]:
ac_par.write.format('csv').partitionBy('state').save('account_parquet_csv')

In [28]:
ac_par.show(3)

+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|            address|      city|state|zipcode|phone_number|      created|     modified|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|   32441| 1341603329000|         null|     Peter|  Zachary| 1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|   32442| 1345273687000|         null|     Duane|     Ruiz|1023 Simpson Street|  Pasadena|   CA|  91051|  6262472463|1395174646000|1395174646000|
|   32443| 1347189332000|         null|   Desiree|    Beall|   4830 Davis Place|      Reno|   NV|  89468|  7758006922|1395174646000|1395174646000|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
only showing top 3 rows

In [29]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [30]:
res = ppl.select('name')

In [32]:
res.show()

+-------+
|   name|
+-------+
|  Alice|
|Brayden|
|  Carla|
|  Diana|
|Etienne|
+-------+

In [33]:
res = ppl.select(ppl.age)

In [34]:
res.show()

+----+
| age|
+----+
|null|
|  30|
|  19|
|  46|
|null|
+----+

### Projection

In [35]:
ppl.select('name','age').show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

### Selection

In [38]:
ppl.where(ppl.age>=30).show()

+---+-------+-----+
|age|   name|pcode|
+---+-------+-----+
| 30|Brayden|94304|
| 46|  Diana| null|
+---+-------+-----+

In [39]:
ppl.where(ppl.age>=30).select(ppl.name).show()

+-------+
|   name|
+-------+
|Brayden|
|  Diana|
+-------+

In [44]:
ppl.orderBy(ppl.age.asc()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|null|Etienne|94104|
|  19|  Carla|10036|
|  30|Brayden|94304|
|  46|  Diana| null|
+----+-------+-----+

In [49]:
ppl.orderBy(ppl.age.asc_nulls_last()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  19|  Carla|10036|
|  30|Brayden|94304|
|  46|  Diana| null|
|null|  Alice|94304|
|null|Etienne|94104|
+----+-------+-----+

In [48]:
ppl.orderBy(ppl.age.asc_nulls_first()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|null|Etienne|94104|
|  19|  Carla|10036|
|  30|Brayden|94304|
|  46|  Diana| null|
+----+-------+-----+

In [45]:
ppl.orderBy(ppl.age.desc()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  46|  Diana| null|
|  30|Brayden|94304|
|  19|  Carla|10036|
|null|  Alice|94304|
|null|Etienne|94104|
+----+-------+-----+

In [46]:
ppl.orderBy(ppl.age.desc_nulls_first()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|null|Etienne|94104|
|  46|  Diana| null|
|  30|Brayden|94304|
|  19|  Carla|10036|
+----+-------+-----+

In [47]:
ppl.orderBy(ppl.age.desc_nulls_last()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  46|  Diana| null|
|  30|Brayden|94304|
|  19|  Carla|10036|
|null|  Alice|94304|
|null|Etienne|94104|
+----+-------+-----+

In [51]:
ppl.orderBy(ppl.pcode.desc(), ppl.name.desc()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  30|Brayden|94304|
|null|  Alice|94304|
|null|Etienne|94104|
|  19|  Carla|10036|
|  46|  Diana| null|
+----+-------+-----+

In [64]:
ac_par_count = ac_par.groupBy(ac_par.state).count()

In [65]:
ac_par_count.show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ| 8614|
|   OR|10166|
|   NV| 8093|
|   CA|70447|
+-----+-----+

In [67]:
ac_par.groupBy('state','city').count().show()

+-----+---------------+-----+
|state|           city|count|
+-----+---------------+-----+
|   CA|        Oakland| 2718|
|   CA|       Stockton| 2536|
|   AZ|      Flagstaff|  804|
|   CA|     Long Beach| 3380|
|   NV|      Las Vegas| 3066|
|   AZ|        Phoenix| 3142|
|   OR|         Eugene| 1162|
|   CA|       Torrance| 1071|
|   CA|North Hollywood| 1126|
|   CA|       San Jose| 2550|
|   CA|      Palo Alto| 1372|
|   CA|       Richmond| 1361|
|   AZ|        Kingman|  795|
|   CA|       Alhambra| 1106|
|   NV|            Ely|  987|
|   CA|         Fresno| 3342|
|   CA|       Berkeley| 1310|
|   CA|     Marysville| 1292|
|   NV|           Elko| 1001|
|   CA|         Oxnard| 1145|
+-----+---------------+-----+
only showing top 20 rows

In [66]:
ac_par.describe().show()

+-------+------------------+--------------------+--------------------+----------+---------+----------------+--------+-----+------------------+--------------------+--------------------+-------------------+
|summary|          acct_num|      acct_create_dt|       acct_close_dt|first_name|last_name|         address|    city|state|           zipcode|        phone_number|             created|           modified|
+-------+------------------+--------------------+--------------------+----------+---------+----------------+--------+-----+------------------+--------------------+--------------------+-------------------+
|  count|             97320|               97320|               34451|     97320|    97320|           97320|   97320|97320|             97320|               97320|               97320|              97320|
|   mean|           48660.5|1.334620364141543...|1.386071826552059...|      null|     null|            null|    null| null|  92655.5422729141|6.4773899803270035E9|1.395174678845869...|1.39517467884589E12|
| stddev|28094.008435963708|3.340818399296278...|1.363291740001203E10|      null|     null|            null|    null| null|3179.0930926230585| 1.949175108965876E9|   54055.01476833517|  54055.03844684006|
|    min|                 1|       1224585351000|       1232834851000|     Aaron|    Aaron|   1 Andell Road|Alhambra|   AZ|             85000|          2090005703|       1395174587000|      1395174587000|
|    max|             97320|       1383288290000|       1394866681000|    Zulema|    Zwick|999 Terra Street|Van Nuys|   OR|             97898|          9519997413|       1395174771000|      1395174771000|
+-------+------------------+--------------------+--------------------+----------+---------+----------------+--------+-----+------------------+--------------------+--------------------+-------------------+

In [69]:
ppl1 = ppl.withColumn("newAge",ppl.age+10)

In [71]:
ppl1.show()

+----+-------+-----+------+
| age|   name|pcode|newAge|
+----+-------+-----+------+
|null|  Alice|94304|  null|
|  30|Brayden|94304|    40|
|  19|  Carla|10036|    29|
|  46|  Diana| null|    56|
|null|Etienne|94104|  null|
+----+-------+-----+------+

In [75]:
pp2 = ppl1.withColumnRenamed("newAge","old")

In [76]:
pp2.show()

+----+-------+-----+----+
| age|   name|pcode| old|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [77]:
pp2.na.drop().show()

+---+-------+-----+---+
|age|   name|pcode|old|
+---+-------+-----+---+
| 30|Brayden|94304| 40|
| 19|  Carla|10036| 29|
+---+-------+-----+---+

In [79]:
pp2.na.drop(subset=['age']).show()

+---+-------+-----+---+
|age|   name|pcode|old|
+---+-------+-----+---+
| 30|Brayden|94304| 40|
| 19|  Carla|10036| 29|
| 46|  Diana| null| 56|
+---+-------+-----+---+

In [80]:
pp2.na.drop(thresh=3).show()

+---+-------+-----+---+
|age|   name|pcode|old|
+---+-------+-----+---+
| 30|Brayden|94304| 40|
| 19|  Carla|10036| 29|
| 46|  Diana| null| 56|
+---+-------+-----+---+

In [78]:
pp2.na.fill(23).show()

+---+-------+-----+---+
|age|   name|pcode|old|
+---+-------+-----+---+
| 23|  Alice|94304| 23|
| 30|Brayden|94304| 40|
| 19|  Carla|10036| 29|
| 46|  Diana| null| 56|
| 23|Etienne|94104| 23|
+---+-------+-----+---+

In [82]:
pp2.na.fill({'age':0,'old':1,'pcode':00000}).show()

+---+-------+-----+---+
|age|   name|pcode|old|
+---+-------+-----+---+
|  0|  Alice|94304|  1|
| 30|Brayden|94304| 40|
| 19|  Carla|10036| 29|
| 46|  Diana|    0| 56|
|  0|Etienne|94104|  1|
+---+-------+-----+---+

In [86]:
pp2.replace('Alice','Alice Smith').show()

+----+-----------+-----+----+
| age|       name|pcode| old|
+----+-----------+-----+----+
|null|Alice Smith|94304|null|
|  30|    Brayden|94304|  40|
|  19|      Carla|10036|  29|
|  46|      Diana| null|  56|
|null|    Etienne|94104|null|
+----+-----------+-----+----+

In [90]:
pp2.createOrReplaceGlobalTempView('ppl2')

In [91]:
spark.sql('select name, age from ppl2').show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

In [94]:
spark.catalog.listTables()

[]

In [93]:
spark.catalog.dropTempView("ppl2")

In [96]:
ac_par.createTempView('acc_view')

In [97]:
df = spark.sql("select state, count(*) as cnt from acc_view group by state having cnt>4000")

In [98]:
df.show()

+-----+-----+
|state|  cnt|
+-----+-----+
|   AZ| 8614|
|   OR|10166|
|   NV| 8093|
|   CA|70447|
+-----+-----+

In [99]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [100]:
ac_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [101]:
ppl.count()

5

In [102]:
ac_par.count()

97320

In [104]:
cj = ppl.crossJoin(ac_par)

In [105]:
cj.count()

486600

In [106]:
ij = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"inner")

In [108]:
ij.count()

33

In [110]:
loj = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"left")

In [111]:
loj.count()

35

In [112]:
roj = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"right")

In [113]:
roj.count()

97331

In [114]:
foj = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"full")

In [115]:
foj.count()

97333

### anti-left join (rows which are not matching)

In [123]:
loJoin = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"anti")

In [124]:
loJoin.count()

2

In [125]:
loJoin.show()

+---+-----+-----+
|age| name|pcode|
+---+-----+-----+
| 19|Carla|10036|
| 46|Diana| null|
+---+-----+-----+

### semi-join (rows which are matching)

In [126]:
se = ppl.join(ac_par, ppl.pcode==ac_par.zipcode,"semi")

In [127]:
se.count()

3

In [128]:
se.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|null|Etienne|94104|
+----+-------+-----+

### broadcast join

In [9]:
from pyspark.sql.functions import broadcast

In [15]:
riJoin = ac_par.join(broadcast(ppl), ppl.pcode==ac_par.zipcode,"right")

In [16]:
riJoin.show(5)

+--------+--------------+-------------+----------+---------+--------------------+---------+-----+-------+------------+-------------+-------------+----+-----+-----+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|             address|     city|state|zipcode|phone_number|      created|     modified| age| name|pcode|
+--------+--------------+-------------+----------+---------+--------------------+---------+-----+-------+------------+-------------+-------------+----+-----+-----+
|   79120| 1369302805000|         null|    George|   Jacoby|   2946 Front Street|Palo Alto|   CA|  94304|  6509255624|1395174738000|1395174738000|null|Alice|94304|
|   71177| 1376909825000|1393826658000|     David|   Massey|   692 Franklee Lane|Palo Alto|   CA|  94304|  6508853210|1395174724000|1395174724000|null|Alice|94304|
|   70979| 1357350587000|1392880322000|     Lucas|  Sweeney|4345 Rockford Mou...|Palo Alto|   CA|  94304|  6503789637|1395174723000|1395174723000|null|Alice|94304|
|   67045| 1345796596000|         null|    George|   Thayer|  1008 Carson Street|Palo Alto|   CA|  94304|  6503808821|1395174716000|1395174716000|null|Alice|94304|
|   66482| 1330220574000|1388446575000|   Pauline|   Marino|  4308 Ritter Avenue|Palo Alto|   CA|  94304|  6508269964|1395174715000|1395174715000|null|Alice|94304|
+--------+--------------+-------------+----------+---------+--------------------+---------+-----+-------+------------+-------------+-------------+----+-----+-----+
only showing top 5 rows