In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("VarunHiveContext").master('local[4]').config("spark.jars","spark-avro_2.12-3.1.2.jar").enableHiveSupport().getOrCreate()

25/06/12 04:16:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4049. Attempting port 4050.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4050. Attempting port 4051.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4051. Attempting port 4052.
25/06/12 04:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4052. Attempting port 4053.

In [3]:
spark

In [4]:
emp = spark.read.table('varunmdb.employee')

In [5]:
type(emp)

pyspark.sql.dataframe.DataFrame

In [5]:
emp.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- job_id: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- comission_pct: integer (nullable = true)
 |-- manager_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [6]:
emp.show(5)

+-----------+----------+---------+--------+----------+----------+-------+------+-------------+----------+-------------+
|employee_id|first_name|last_name|   email|     phone| hire_date| job_id|salary|comission_pct|manager_id|department_id|
+-----------+----------+---------+--------+----------+----------+-------+------+-------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.45|1987-06-17|AD_PRES| 24000|            0|         0|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.45|1989-09-21|  AD_VP| 17000|            0|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.45|1993-01-13|  AD_VP| 17000|            0|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.45|1990-01-03|IT_PROG|  9000|            0|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.45|1991-05-21|IT_PROG|  6000|            0|       103|           60|
+-----------+----------+---------+--------+----------+----------+-------+------+-------------+----------+-------------+
only showing top 5 rows

In [7]:
ac_avro = spark.read.format('avro').load('accounts_avro')