In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("VarunTimeSeries").master("local[4]").getOrCreate()

25/06/12 03:32:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/12 03:32:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/06/12 03:32:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/06/12 03:32:54 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/06/12 03:32:54 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [8]:
spark

In [3]:
df = spark.read.csv('stocktimeseries', sep=',', header=True, inferSchema=True)

In [13]:
df.show(5)

+----------+-----+-----+-----+-----+-------+----+
|      Date| Open| High|  Low|Close| Volume|Name|
+----------+-----+-----+-----+-----+-------+----+
|2006-01-03|47.47|47.85|46.25|47.58|7582127|AMZN|
|2006-01-04|47.48|47.73|46.69|47.25|7440914|AMZN|
|2006-01-05|47.16| 48.2|47.11|47.65|5417258|AMZN|
|2006-01-06|47.97|48.58|47.32|47.87|6154285|AMZN|
|2006-01-09|46.55| 47.1| 46.4|47.08|8945056|AMZN|
+----------+-----+-----+-----+-----+-------+----+
only showing top 5 rows

In [20]:
comp_count = df.groupBy(df.Name).count()

In [22]:
comp_count.orderBy(df.Name.desc()).show()

+----+-----+
|Name|count|
+----+-----+
|  GE| 3020|
| CVX| 3020|
| AXP| 3020|
|AMZN| 3019|
|AAPL| 3019|
|AABA| 3019|
+----+-----+

In [23]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Name: string (nullable = true)

In [24]:
from pyspark.sql.functions import *

In [25]:
df.groupBy(year(df.Date)).max().select('year(Date)','max(High)').show()

+----------+---------+
|year(Date)|max(High)|
+----------+---------+
|      2007|   101.09|
|      2015|   696.44|
|      2006|     76.2|
|      2013|   405.63|
|      2014|   408.06|
|      2012|   264.11|
|      2009|   145.91|
|      2016|   847.21|
|      2010|   185.65|
|      2011|   246.71|
|      2008|   104.63|
|      2017|  1213.41|
+----------+---------+