In [20]:
from datetime import datetime
from datetime import time
from datetime import date
from datetime import timedelta
import pandas as pd

### 1. Write a Python script to display the various Date Time formats

- a) Current date and time

In [3]:
datetime.now()

datetime.datetime(2025, 5, 23, 8, 56, 30, 344191)

- b) Current year

In [4]:
dt = datetime.now()

In [5]:
dt.year

2025

- c) Month of year

In [6]:
dt.month

5

- d) Week number of the year

In [9]:
date.today().isocalendar()[1]

21

- e) Weekday of the week

In [10]:
dt.weekday()

4

- f) Day of year

In [11]:
dt.strftime("%j")

'143'

- g) Day of the month

In [12]:
dt.day

23

- h) Day of week

In [19]:
dt.weekday()+1

5

**2. Write a Python program to determine whether a given year is a leap year**

In [24]:
dfyear = pd.to_datetime(dt)

In [26]:
type(dfyear)

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
dfyear.is_leap_year

False

3. Write a Python program to convert a string to datetime.

Sample String : Jul 1 2014 2:43PM

In [40]:
dtstr = "Jul 1 2014 2:43PM"
dttime = datetime.strptime(dtstr, "%b %d %Y %I:%M%p")

In [43]:
dttime.strftime(format="%d-%m-%Y %H:%M:%S")

'01-07-2014 14:43:00'

4. Write a Python program to get the current time in Python.

Sample Format : 13:19:49.078205

In [44]:
dt.strftime(format="%H:%M:%s")

'08:56:1747990607'

5. Write a Python program to subtract five days from the current date.

Sample Date :

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [46]:
sub5days = datetime.now() - timedelta(days=5)

In [49]:
sub5days.strftime("%d-%m-%Y")

'18-05-2025'

6. Write a Python program to convert a Unix timestamp string to a readable date.

Sample Unix timestamp string : 1284105682

Expected Output : 2010-09-10 13:31:22

In [52]:
datetime.fromtimestamp(1284105682)

datetime.datetime(2010, 9, 10, 8, 1, 22)

7. Write a Python program to print yesterday, today, tomorrow.

In [54]:
print(f"Yesterday: {datetime.now()-timedelta(days=1)}")
print(f"Today: {datetime.now()}")
print(f"Tommorrow: {datetime.now()+timedelta(days=1)}")

Yesterday: 2025-05-22 09:46:22.991887
Today: 2025-05-23 09:46:22.991959
Tommorrow: 2025-05-24 09:46:22.991996

8. Write a Python program to convert the date to datetime (midnight of the date) in Python.

Sample Output : 2015-06-22 00:00:00

In [55]:
dt = datetime.now()

In [58]:
dt = dt.replace(hour=0, minute=0, second=0)

In [61]:
dt.strftime("%Y-%m-%d %H:%M:%S")

'2025-05-23 00:00:00'

9. Write a Python program to print the next 5 days starting today

In [62]:
datetime.now() + timedelta(days=5)

datetime.datetime(2025, 5, 28, 9, 52, 51, 106330)

10. Write a Python program to add 5 seconds to the current time.
Sample Data :

13:28:32.953088

13:28:37.953088

In [73]:
datetime.now()

datetime.datetime(2025, 5, 23, 10, 5, 18, 199633)

In [75]:
datetime.now()+timedelta(seconds=5)

datetime.datetime(2025, 5, 23, 10, 5, 42, 945889)

11. Write a Python program to convert Year/Month/Day to Day of Year in Python.

In [76]:
dt.strftime("%j")

'143'

12. Write a Python program to get the current time in milliseconds in Python.

In [77]:
import time

milli_sec = int(round(time.time() * 1000))

print(milli_sec)

1747995904321

13. Write a Python program to get the week number.

Sample Date : 2015, 6, 16
Expected Output : 25

In [79]:
print(date(2015, 6, 16).isocalendar()[1])

25

14. Write a Python program to find the date of the first Monday of a given week.

Sample Year and week : 2015, 50
Expected Output : Mon Dec 14 00:00:00 2015

In [81]:
print(time.asctime(time.strptime('2015 50 1', '%Y %W %w')))

Mon Dec 14 00:00:00 2015

15. Write a Python program to select all the Sundays in a specified year.

In [116]:
def all_sundays(year):
    dates = date(year,1,1)
    while dates.year==year:
        if dates.weekday()==6:
            yield dates
        dates += timedelta(days=1)

In [117]:
sundays = all_sundays(2024)

In [119]:
for x in sundays:
    print(x)

2024-01-07
2024-01-14
2024-01-21
2024-01-28
2024-02-04
2024-02-11
2024-02-18
2024-02-25
2024-03-03
2024-03-10
2024-03-17
2024-03-24
2024-03-31
2024-04-07
2024-04-14
2024-04-21
2024-04-28
2024-05-05
2024-05-12
2024-05-19
2024-05-26
2024-06-02
2024-06-09
2024-06-16
2024-06-23
2024-06-30
2024-07-07
2024-07-14
2024-07-21
2024-07-28
2024-08-04
2024-08-11
2024-08-18
2024-08-25
2024-09-01
2024-09-08
2024-09-15
2024-09-22
2024-09-29
2024-10-06
2024-10-13
2024-10-20
2024-10-27
2024-11-03
2024-11-10
2024-11-17
2024-11-24
2024-12-01
2024-12-08
2024-12-15
2024-12-22
2024-12-29

16. Write a Python program to add year(s) to a given date and display the updated date.

In [133]:
def addYears(dates, number):
    try:
        return dates.replace(year=dates.year + number)
    except ValueError as v:
        return dates + (date(dates.year + number, 1, 1) - date(dates.year, 1, 1))

In [134]:
print(addYears(date(2015,1,1), -1))
print(addYears(date(2015,1,1), 0))
print(addYears(date(2015,1,1), 2))
print(addYears(date(2000,2,29),1))

2014-01-01
2015-01-01
2017-01-01
2001-03-01

In [135]:
datetime.now().replace(microsecond=0)

datetime.datetime(2025, 5, 23, 11, 17, 42)

In [137]:
print(date(2001, 2, 28) - date(2000, 2, 28))

366 days, 0:00:00

In [138]:
today = date.today()
offset = (today.weekday() - 1) % 7
last_tuesday = today - timedelta(days=offset)
print(last_tuesday)

2025-05-20

In [139]:
df = pd.read_csv("Cleaned_Retail_Data.csv")

In [141]:
df.Date = pd.to_datetime(df.Date)

In [142]:
df.Date

0     2023-11-24
1     2023-02-27
2     2023-01-13
3     2023-05-21
4     2023-05-06
         ...
995   2023-05-16
996   2023-11-17
997   2023-10-29
998   2023-12-05
999   2023-04-12
Name: Date, Length: 1000, dtype: datetime64[ns]

In [160]:
month = []

In [161]:
for x in range(len(df.Date)):
    month.append(df.Date.loc[x].strftime(format="%B"))

In [162]:
df["Month"] = pd.Series(month)

In [168]:
df1 = df.groupby("Month")[["Transaction ID"]].count()

In [170]:
df1.sort_values(by="Transaction ID", ascending=False)

           Transaction ID
Month
May                   105
October                96
August                 94
December               91
April                  86
February               85
January                78
November               78
June                   77
March                  73
July                   72
September              65

In [178]:
df.pivot_table(values="total_revenue",index="Month" )

           total_revenue
Month
April         393.837209
August        393.191489
December      491.098901
February      518.352941
January       474.102564
July          492.569444
June          476.818182
March         397.123288
May           506.190476
November      447.692308
October       485.208333
September     363.384615

In [173]:
df.head()

,Unnamed: 0,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,total_revenue,Month
0,0,1,2023-11-24,CUST001,Male,34,BEAUTY,3,50,150,150,November
1,1,2,2023-02-27,CUST002,Female,26,CLOTHING,2,500,1000,1000,February
2,2,3,2023-01-13,CUST003,Male,50,ELECTRONICS,1,30,30,30,January
3,3,4,2023-05-21,CUST004,Male,37,CLOTHING,1,500,500,500,May
4,4,5,2023-05-06,CUST005,Male,30,BEAUTY,2,50,100,100,May