In [44]:
import pandas as pd
import numpy as np
import re

In [37]:
timedetails = """
time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=22, tm_isdst=-1)
String representing time: 30 Nov 00
time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)
String representing time: 04/11/15 11:55:23
time.struct_time(tm_year=2015, tm_mon=4, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=23, tm_wday=5, tm_yday=101, tm_isdst=-1)
String representing time: 12-11-2019
time.struct_time(tm_year=2019, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=345, tm_isdst=-1)
String representing time: 13::55::26
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=13, tm_min=55, tm_sec=26, tm_wday=0, tm_yday=1, tm_isdst=-1)
time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=22, tm_isdst=-1)
String representing time: 30 Nov 00
time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)
String representing time: 04/11/15 11:55:23
time.struct_time(tm_year=2015, tm_mon=4, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=23, tm_wday=5, tm_yday=101, tm_isdst=-1)
String representing time: 12-11-2019
time.struct_time(tm_year=2019, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=345, tm_isdst=-1)
String representing time: 13::55::26
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=13, tm_min=55, tm_sec=26, tm_wday=0, tm_yday=1, tm_isdst=-1)
time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=22, tm_isdst=-1)
String representing time: 30 Nov 00
time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)
String representing time: 04/11/15 11:55:23
time.struct_time(tm_year=2015, tm_mon=4, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=23, tm_wday=5, tm_yday=101, tm_isdst=-1)
String representing time: 12-11-2019
time.struct_time(tm_year=2019, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=345, tm_isdst=-1)
String representing time: 13::55::26
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=13, tm_min=55, tm_sec=26, tm_wday=0, tm_yday=1, tm_isdst=-1)
time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=22, tm_isdst=-1)
String representing time: 30 Nov 00
time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)
String representing time: 04/11/15 11:55:23
time.struct_time(tm_year=2015, tm_mon=4, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=23, tm_wday=5, tm_yday=101, tm_isdst=-1)
String representing time: 12-11-2019
time.struct_time(tm_year=2019, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=345, tm_isdst=-1)
String representing time: 13::55::26
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=13, tm_min=55, tm_sec=26, tm_wday=0, tm_yday=1, tm_isdst=-1)
time.struct_time(tm_year=2020, tm_mon=1, tm_mday=22, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=22, tm_isdst=-1)
String representing time: 30 Nov 00
time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)
String representing time: 04/11/15 11:55:23
time.struct_time(tm_year=2015, tm_mon=4, tm_mday=11, tm_hour=11, tm_min=55, tm_sec=23, tm_wday=5, tm_yday=101, tm_isdst=-1)
String representing time: 12-11-2019
time.struct_time(tm_year=2019, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=345, tm_isdst=-1)
String representing time: 13::55::26
time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=13, tm_min=55, tm_sec=26, tm_wday=0, tm_yday=1, tm_isdst=-1)
"""

In [38]:
re_timedetails = re.findall(r"(\w+)\=(\w+)", timedetails)

In [39]:
count = 8
y=0

In [40]:
timelist = []

In [41]:
for x in range(0,len(re_timedetails),8):
    timedict = {}
    for y in range(x, count):
        timedict[re_timedetails[y][0]] = re_timedetails[y][1]
    count += 8
    timelist.append(timedict)

In [42]:
timelist

[{'tm_year': '2020',
  'tm_mon': '1',
  'tm_mday': '22',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '22'},
 {'tm_year': '2000',
  'tm_mon': '11',
  'tm_mday': '30',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '3',
  'tm_yday': '335'},
 {'tm_year': '2015',
  'tm_mon': '4',
  'tm_mday': '11',
  'tm_hour': '11',
  'tm_min': '55',
  'tm_sec': '23',
  'tm_wday': '5',
  'tm_yday': '101'},
 {'tm_year': '2019',
  'tm_mon': '12',
  'tm_mday': '11',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '345'},
 {'tm_year': '1900',
  'tm_mon': '1',
  'tm_mday': '1',
  'tm_hour': '13',
  'tm_min': '55',
  'tm_sec': '26',
  'tm_wday': '0',
  'tm_yday': '1'},
 {'tm_year': '2020',
  'tm_mon': '1',
  'tm_mday': '22',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '22'},
 {'tm_year': '2000',
  'tm_mon': '11',
  'tm_mday': '30',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '3',
  'tm_yday': '335'},
 {'tm_year': '2015',
  'tm_mon': '4',
  'tm_mday': '11',
  'tm_hour': '11',
  'tm_min': '55',
  'tm_sec': '23',
  'tm_wday': '5',
  'tm_yday': '101'},
 {'tm_year': '2019',
  'tm_mon': '12',
  'tm_mday': '11',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '345'},
 {'tm_year': '1900',
  'tm_mon': '1',
  'tm_mday': '1',
  'tm_hour': '13',
  'tm_min': '55',
  'tm_sec': '26',
  'tm_wday': '0',
  'tm_yday': '1'},
 {'tm_year': '2020',
  'tm_mon': '1',
  'tm_mday': '22',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '22'},
 {'tm_year': '2000',
  'tm_mon': '11',
  'tm_mday': '30',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '3',
  'tm_yday': '335'},
 {'tm_year': '2015',
  'tm_mon': '4',
  'tm_mday': '11',
  'tm_hour': '11',
  'tm_min': '55',
  'tm_sec': '23',
  'tm_wday': '5',
  'tm_yday': '101'},
 {'tm_year': '2019',
  'tm_mon': '12',
  'tm_mday': '11',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '345'},
 {'tm_year': '1900',
  'tm_mon': '1',
  'tm_mday': '1',
  'tm_hour': '13',
  'tm_min': '55',
  'tm_sec': '26',
  'tm_wday': '0',
  'tm_yday': '1'},
 {'tm_year': '2020',
  'tm_mon': '1',
  'tm_mday': '22',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '22'},
 {'tm_year': '2000',
  'tm_mon': '11',
  'tm_mday': '30',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '3',
  'tm_yday': '335'},
 {'tm_year': '2015',
  'tm_mon': '4',
  'tm_mday': '11',
  'tm_hour': '11',
  'tm_min': '55',
  'tm_sec': '23',
  'tm_wday': '5',
  'tm_yday': '101'},
 {'tm_year': '2019',
  'tm_mon': '12',
  'tm_mday': '11',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '345'},
 {'tm_year': '1900',
  'tm_mon': '1',
  'tm_mday': '1',
  'tm_hour': '13',
  'tm_min': '55',
  'tm_sec': '26',
  'tm_wday': '0',
  'tm_yday': '1'},
 {'tm_year': '2020',
  'tm_mon': '1',
  'tm_mday': '22',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '22'},
 {'tm_year': '2000',
  'tm_mon': '11',
  'tm_mday': '30',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '3',
  'tm_yday': '335'},
 {'tm_year': '2015',
  'tm_mon': '4',
  'tm_mday': '11',
  'tm_hour': '11',
  'tm_min': '55',
  'tm_sec': '23',
  'tm_wday': '5',
  'tm_yday': '101'},
 {'tm_year': '2019',
  'tm_mon': '12',
  'tm_mday': '11',
  'tm_hour': '0',
  'tm_min': '0',
  'tm_sec': '0',
  'tm_wday': '2',
  'tm_yday': '345'},
 {'tm_year': '1900',
  'tm_mon': '1',
  'tm_mday': '1',
  'tm_hour': '13',
  'tm_min': '55',
  'tm_sec': '26',
  'tm_wday': '0',
  'tm_yday': '1'}]

In [45]:
df = pd.DataFrame(timelist)

In [46]:
df

   tm_year tm_mon tm_mday tm_hour tm_min tm_sec tm_wday tm_yday
0     2020      1      22       0      0      0       2      22
1     2000     11      30       0      0      0       3     335
2     2015      4      11      11     55     23       5     101
3     2019     12      11       0      0      0       2     345
4     1900      1       1      13     55     26       0       1
5     2020      1      22       0      0      0       2      22
6     2000     11      30       0      0      0       3     335
7     2015      4      11      11     55     23       5     101
8     2019     12      11       0      0      0       2     345
9     1900      1       1      13     55     26       0       1
10    2020      1      22       0      0      0       2      22
11    2000     11      30       0      0      0       3     335
12    2015      4      11      11     55     23       5     101
13    2019     12      11       0      0      0       2     345
14    1900      1       1      13     55     26       0       1
15    2020      1      22       0      0      0       2      22
16    2000     11      30       0      0      0       3     335
17    2015      4      11      11     55     23       5     101
18    2019     12      11       0      0      0       2     345
19    1900      1       1      13     55     26       0       1
20    2020      1      22       0      0      0       2      22
21    2000     11      30       0      0      0       3     335
22    2015      4      11      11     55     23       5     101
23    2019     12      11       0      0      0       2     345
24    1900      1       1      13     55     26       0       1